.preview-component {
  padding: 10px;
}

.save-component {
  padding: 10px;
}
.save-div {
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  .save-div {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
