#Template3 {
  padding: 20px;
  height: 802px;
  width: 555px;
  font-family: "Times";
  box-shadow: 2px 2px 8px;
}

.content-3 {
  border: 3px solid rgb(247, 25, 25);
  width: 533px;
  height: 780px;
  padding: 8px;
}

.location {
  flex-grow: 1;
  padding-right: 10px;
}

.personal-data-3 {
  display: flex;
  padding: 0;
  background-color: rgb(255, 26, 26);
  padding: 10px 0px;
}

.objective {
  font-weight: bold;
  padding: 10px 10px 0px 10px;
  text-align: center;
}

.personal {
  margin: 0px 10px;
  flex-grow: 1;
}

.name {
  font-size: 23px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.email {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

.mobile {
  font-size: 14px;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

.address,
.city,
.state,
.postalcode {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.line-3 {
  border-top: 3px solid rgb(247, 25, 25);
  width: 30%;
  display: inline-block;
}

.text {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
}

.jobtitle {
  text-align: left;
  font-weight: bolder;
  font-size: 16px;
}
.organisation {
  text-align: left;
  font-weight: bold;
}

.years {
  text-align: left;
  font-weight: bold;
}

.type,
.degree,
.university,
.score {
  text-align: left;
  font-weight: bold;
}

.education-section {
  margin: 10px 0px;
  text-align: center;
}

.education-container-3 {
  display: flex;
  padding: 0px 10px;
  gap: 150px;
  background-color: rgb(247, 95, 95);
}

.experience-section {
  text-align: center;
  margin: 10px 0px;
}

.experience-container-3 {
  display: flex;
  padding: 0px 10px;
  gap: 150px;
  background-color: rgb(255, 47, 47);
}

.skills-section {
  text-align: center;
  margin: 10px 0px;
}

.skills-container-3 {
  display: flex;
  padding: 0px 10px;
  gap: 220px;
  background-color: rgb(255, 147, 147);
}

.skill {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
