.details-grid {
  display: grid;
}

.tabs-grid {
  text-align: center;
}

.component-grid {
  text-align: center;
}

.tabs {
  margin: 20px 0px 0px 40px;
  justify-content: center;
  max-width: 250px;
}
.component {
  padding: 0px 20px 0px 30px;
  margin: 20px 50px;
  max-width: 750px;
}

@media only screen and (max-width: 1000px) {
  .component {
    margin: 20px 10px 30px;
  }
}

@media only screen and (max-width: 900px) {
  .tabs {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .component {
    padding: 0;
  }
  .tabs {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 599px) {
  .tabs {
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
  }
}
