.container {
  position: relative;
}

.container:hover .template {
  filter: brightness(65%);
  color: gray;
}

.template {
  width: 300px;
  height: 430px;
  box-shadow: 3px 3px 10px;
}

.template:hover {
  color: gray;
}

.container .template-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(7, 117, 219);
  color: white;
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  display: none;
  text-decoration: none;
}

.template-btn:hover {
  background-color: rgb(4, 100, 220);
}

.container:hover .template-btn {
  display: block;
}
