.list-item {
  border: 0.5px solid rgb(218, 216, 216);
  border-radius: 4px;
  padding: 5px 0px;
  box-shadow: 1px 0.5px 2px rgb(214, 213, 213);
}

.list-button {
  border: none;
  background: none;
  padding: 8px 0px 8px 40px;
  padding-right: auto;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(92, 92, 92);
  cursor: pointer;
}

.list-button:hover {
  color: rgb(44, 109, 230);
}
